/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #ff9225;
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #ff8000;
}
.form button:hover {
  background: #ff8000e0;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

/* Container for the radio buttons */
.gender-option {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Add space between the radio buttons */
}

/* Style for the radio buttons */
.gender-option .gender {
  display: inline-block; /* Make each radio button container an inline-block */
  margin-right: 10px; /* Adjust margin between radio buttons */
}

/* Style for the custom radio button */
.gender-option .gender input[type="radio"] {
  display: none; /* Hide the default radio button */
}

.gender-option .gender input[type="radio"] + label {
  display: inline-block;
  padding: 8px 16px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.gender-option .gender input[type="radio"]:checked + label {
  background-color: #e0e0e0;
  border-color: #ff8000;
  color: #e36200;
}


